.navbar { background-color: #A32EFF; }
.btn-violet { background-color: #A32EFF; }
.btn-white { background-color: white;}
.text-purple { color: #8a14e4; }

.navbar-nav button.btn {
    box-shadow: none;
}

.dancing-script { 
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.text-17 { 
    font-size: 17px; 
    font-family: 'Abel', sans-serif;
}

.card {
    width: 263px;
    padding: 8px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: 'Abel', sans-serif;
    font-weight: 500;
}

.card img { border-radius: 2px; }

.restaurent-card {
    display: flex;
    flex-wrap: wrap;
}

.search-container {
    margin: auto;
    display: flex;
    font-family: 'Abel', sans-serif;
}

.search-container button {
    width: 120px;
    border-radius: 2px;
}

.search-container input { border-radius: 3px; border: 1px solid #A32EFF; }
.search-container input:focus { box-shadow: none; }
.search-container button:focus { box-shadow: none; }
.search-container input::placeholder { color: #A32EFF; }
.card .card-body button { box-shadow: none; }
.restaurent-card h1 {
    width: 96%;
    text-align: center;
    color: #8a14e4;
    margin-top: 30px;
    font-family: 'Abel', sans-serif;
}

.shimmer-container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.shimmer-card {
    width: 207px;
    height: 250px;
    background-color: whitesmoke;
}

.shimmer-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% { left: -100px }
    20% { left: 100% }
    100% { left: 100% }
}

.errorImage {
    text-align: center;
    margin-top: 70px;
}

